@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
    font-family: "Space Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
  }
  p, span,input, textarea,label,li {
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 100; 
    font-style: normal;
  }
.class-main {
    font-family: "Space Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
  }
.ak-main-class {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;

    font-style: normal;
  }
 nav {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;

    font-style: normal;
  }